.footer {
  padding: 36px 0;
  background-color: #fff;
}

.footer-top-box {
  padding: 32px 15px;

  @media (min-width: 1200px) {
    padding: 60px 0;
  }
}

.footer-content--mobile {
  @media (min-width: 1024px) {
    display: none;
  }
}
